[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
django-non-dark-admin = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-countries = {extras = ["pyuca"], version = "*"}
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
